// секция кнопок в портфолио телефон

.list-basic {
   display: flex;

   flex-wrap: wrap;
}

.list-item-nav {
   &:not(:last-child) {
      margin-right: 8px;
   }

   @media screen and (max-width: 767px) {
      &:nth-child(n + 4) {
         margin-top: 15px;
      }
   }
   @media screen and (max-width: 399px) {
      &:nth-child(n + 3) {
         margin-top: 15px;
      }
   }
}

.nav-btn {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   text-align: center;
   letter-spacing: 0.03em;

   border: none;
   border-radius: 4px;

   padding: 6px 22px;

   border-color: var(--background-btn);

   transition-property: background-color, color, box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: #ffffff;
      background-color: #2196f3;
      cursor: pointer;

      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
   }
}
