// секция преимуществ блоки текста, и картинок
.benefits__list {
   margin-left: auto;
   margin-right: auto;
}
.benefits__item {
   display: block;

   @media screen and (min-width: 480px) and (max-width: 767px) {
      &:not(:last-child){
         margin-bottom: 30px;
      }
   }
}
.benifits__box {
   width: 100%;
   height: 120px;
   background: #f5f4fa;
   border-radius: 4px;
   margin-bottom: 30px;
   display: flex;
   align-items: center;
   justify-content: center;

   &:last-child {
      margin: 0;
   }
}
.benifits__svg {
   width: 70px;
   height: 70px;
}
.benefits__title {
   color: var(--color-text);
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.03em;
   text-transform: uppercase;

   text-align: center;
}
.benefits__text {
   color: var(--color-text-two);
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;

   margin-top: 10px;
}
