// список контактной информации ползователя

.box-window {
   padding: 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.box-window__title {
   display: block;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.1;
   letter-spacing: 0.03em;

   color: var(--color-text);

   margin-bottom: 12px;
   text-align: center;
}
.modal-window__form {
   display: flex;
   flex-direction: column;
}
.modal-list {
   margin-bottom: 20px;
}

.modal-list__label {
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.1;
   letter-spacing: 0.01em;

   color: var(--color-text-two);

   margin-bottom: 4px;
   display &:not(:last-child) {
      margin-bottom: 10px;
   }
}
.modal-list__element {
   position: relative;
}
.modal-list__input {
   text-decoration: none;
   display: block;

   border: 1px solid rgba(33, 33, 33, 0.2);
   box-sizing: border-box;
   border-radius: 4px;

   height: 40px;
   width: 100%;

   padding-left: 42px;

   cursor: pointer;

   transition-property: border;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:focus + .modal-list__icon,
   &:hover + .modal-list__icon {
      fill: var(--background-btn-hover);
   }
}
.modal-list__input:focus-visible {
   outline: 0px solid;
}
.modal-list__input:focus,
.modal-list__input:hover {
   border: 1px solid #2196f3;
}
.modal-list__icon {
   position: absolute;
   top: 11px;
   left: 12px;

   display: flex;
   align-items: center;
   justify-content: center;

   width: 18px;
   height: 18px;

   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-list__item {
   & textarea {
      display: block;

      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.1;
      letter-spacing: 0.01em;

      border: 1px solid rgba(33, 33, 33, 0.2);
      box-sizing: border-box;
      border-radius: 4px;

      width: 100%;
      height: 120px;

      resize: none;
      padding: 12px 16px;

      border: 1px solid rgba(33, 33, 33, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
   }

   & textarea::placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.1;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
   }
}
