// постоянные клиенты

.section__title {
   color: var(--color-text);
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   text-align: center;

   @media (min-width: 1200px) {
      font-size: 36px;
   }
}

.companies-list {
   margin-top: 30px;

   display: flex;
   flex-wrap: wrap;

   @media (min-width: 1200px) {
      margin-top: 50px;
      flex-wrap: nowrap;
   }
}
.companies-list__item {
   &:not(:nth-child(2n)) {
      margin-right: 30px;
   }
   &:nth-child(n + 3) {
      margin-top: 30px;
   }

   @media (min-width: 1200px) {
      &:not(:last-child) {
         margin-right: 30px;
      }
   }
}
.companies-list__link {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   width: 210px;
   height: 92px;

   border: 1px solid #afb1b8;
   box-sizing: border-box;
   border-radius: 4px;

   fill: #afb1b8;
   color: #afb1b8;

   transition-property: color, border, fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      border: 1px solid var(--background-btn-hover);
      fill: #2196f3;
      color: #2196f3;
   }

   @media (min-width: 1200px) {
      width: 170px;
      height: 92px;
   }
}
.companies-list__icon {
   width: 106px;
   height: 60px;
   fill: currentColor;
}
