// подвал контакты

.footer {
   background-color: var(--secondary-background);
   padding-top: 60px;
   padding-bottom: 60px;
}

.container-footer {
   width: 480px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;

   @media (min-width: 1200px) {
      align-items: baseline;
   }


}

.footer-item{
   text-align: center;
}

.footer-item--grow {
   flex-grow: 1;
}
.logo--color {
   color: rgb(255, 255, 255);
}

.address {
   margin-top: 20px;

}

.contact-list{
   text-align: center;
}

.contact-list__item {
   &:not(:last-child) {
      margin-bottom: 8px;
   }

   @media (min-width: 1200px) {
      &:not(:last-child) {
         margin-bottom: 9px;
      }
   }
}
.contact-list__address {
   color: #ffffff;
   text-decoration: none;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__link {
   text-decoration: none;
   color: rgba(255, 255, 255, 0.6);
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
