// header список в хедере ниже

.contact {
   display: flex;
   margin-left: auto;

   list-style: none;
}
.contact__item {
   &:first-child {
      margin-right: 50px;
   }
}
.contact__link {
   text-decoration: none;
   color: var(--color-text-link);

   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;

   letter-spacing: 0.02em;

   padding-top: 32px;
   padding-bottom: 32px;
   display: flex;
   align-items: center;

   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: var(--color-text-btn);
   }
}
.contact__icon {
   width: 16px;
   height: 16px;
   margin-right: 10px;

   fill: currentColor;
}
