// header навигация контакты
.header {
   border-bottom: 1px solid #ececec;

   height: 60px;
}

.header__container {
   @media (min-width: 480px) {
      max-width: 480px;
   }
}

// логотип в шапке
.logo {
   text-decoration: none;
   color: var(--color-text);
   font-family: var(--secondary-font-style);
   font-style: normal;
   font-weight: 700;
   letter-spacing: 0.03em;

   display: block;
   padding-top: 16px;
   padding-bottom: 16px;

   font-size: 24px;
   line-height: 1.2;

   @media (min-width: 1200px) {
      padding-top: 24px;
      padding-bottom: 25px;
      margin-right: 93px;

      font-size: 26px;
      line-height: 1.2;
   }
}
.logo__span {
   color: var(--color-text-btn);
}

.nav{
   @media (max-width: 480px) {
      display: none;
   }
}

.nav__list {
   display: flex;
}

.nav__item {
   margin-right: 50px;

   &:last-child {
      margin-right: 0;
   }
}
.nav__link {
   position: relative;

   text-decoration: none;
   color: var(--color-text);

   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.02em;

   padding-top: 32px;
   padding-bottom: 32px;
   display: block;

   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: var(--color-text-btn);
   }
}
.nav__link--active {
   color: var(--color-text-btn);

   &::after {
      content: "";
      width: 100%;
      height: 4px;

      position: absolute;
      left: 0;
      bottom: -2px;
      background: #2196f3;
      border-radius: 2px;
   }
}
