// текст под картинкой члена команды

.team-list__box {
   padding-top: 30px;
   padding-bottom: 24px;

   @media (min-width: 1200px) {
      padding-top: 30px;
      padding-bottom: 30px;
   }
}
.team-list__name {
   color: var(--color-text);
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   margin-bottom: 10px;
}
.team-list__text {
   color: var(--color-text-two);
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}
