// постоянные клиенты компютер

.companies-list__item {
   @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 12 * 15px) / 6);
   }
}


.section__title{
   @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.2;
   
      margin-bottom: 50px;
   }
}