// подвал контакты компютер

.container-footer {
   @media screen and (min-width: 1200px) {
      flex-direction: row;
      display: flex;
      align-items: baseline;
   }
}

.footer-item{
   @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      justify-content: start;
      align-items: baseline;
   }
}

.footer-box{
   @media screen and (min-width: 1200px) {
      text-align: left;
      margin-right: 70px;
}
}

.address{
   @media screen and (min-width: 1200px) {
         text-align: left;
   }
}

.contact-list {
   @media screen and (min-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
   }
}

.netvorks-panel-block {
   @media screen and (min-width: 1200px) {
      align-items: flex-start;
   }
}

.subscription{
   @media screen and (min-width: 1200px) {
      margin-left: auto;
   }
}


.subscription__box {
   @media screen and (min-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
   }
}

.subscription__form {
   @media screen and (min-width: 1200px) {
      display: flex;
      align-items: flex-end;
   }
}

.subscription__input {
   @media screen and (min-width: 1200px) {
      width: 358px;
   }
}

.subscription__button {
   @media screen and (min-width: 1200px) {
      margin-top: 0;
      margin-left: 12px;
   }
}