//  список картинок

.section-work {
   padding-top: 0;
   @media screen and (max-width: 1199px) {
      display: none;
   }
}
.section-work__title {
   color: var(--color-text);
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   text-align: center;
}

.activity-list {
   display: flex;
}
.activity-list__item {
   position: relative;

   margin-top: 50px;
   margin-right: 30px;

   &:last-child {
      margin-right: 0;
   }
}

.activity-list__box {
   position: absolute;
   left: 0;
   bottom: 0;

   width: 370px;
   height: 70px;

   background: #2f303acc;

   display: flex;
   align-items: center;
   justify-content: center;
}
.activity-list__text {
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #ffffff;
}