//  шапка на компютере))

.header__container {
   @media screen and (min-width: 1200px) {
      max-width: 1200px;
   }
}

.logo {
   @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.2;

      padding-top: 24px;
      padding-bottom: 25px;

      &--footer{
         padding: 0;
      }
   }
}

.nav {
   @media screen and (min-width: 1200px) {
      margin-left: 93px;
      margin-right: 0;
   }
}
