// секция с кнопкой заказа

.heading {
   background-color: var(--secondary-background);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/Header/Header-s-.jpg);
   @include mq(retina) {
      background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header/Header-s-@2x.jpg);
   }

   @include mq(tablet) {
      background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header/Header-m-.jpg);
      @include mq(retina) {
         background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header/Header-m-@2x.jpg);
      }
   }

   @include mq(desktop) {
      background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header/Header-L-.jpg);
      @include mq(retina) {
         background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header/Header-L-@2x.jpg);
      }
   }
}
